*{
	box-sizing: border-box;
	font-family: font1;
	letter-spacing: 1px;
	margin: 0;
}


.wrapper{
	display: flex;
	flex-wrap: wrap;
	border-radius: 30px;
	box-shadow: 5px 5px 5px #bababa5c;
}
em{
	font-style: normal;
}
/*.bd{

}*/
.circle{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 170px;
	height: 170px;
	justify-content: center;
	border-radius: 5000px;
	line-height: 40px;
	padding-top: 20px;
	background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
}
.circle em:first-child{
	font-family: font2;
	font-size: 70px;
	color: hsl(0, 0%, 100%);
	
}
.container1 h3{
	color: hsl(241, 100%, 89%);
	word-spacing: 5px;
	letter-spacing: 0px;
	font-weight: 500;
}
body{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.container1{
	padding: 30px 10px;
	border-radius: 30px;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 330px;
	justify-content: space-around;
	color: hsl(221, 100%, 96%);
	background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
	padding-bottom: 40px;
	gap: 35px;

}
.container2{
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 330px;
	gap: 40px;
	padding: 20px 30px;

}
.circle em:last-child{
	color: hsl(241, 100%, 89%);
}
.container1 p{
	text-align: center;
	color: hsl(241, 100%, 89%);
	letter-spacing: 0px;
}
.container1 div:last-child{
	text-align: center;
	padding: 0 25px;
	display: flex;
	gap: 15px;
	flex-direction: column;
}
.container1 div:last-child h4{
	text-align: center;
	padding: 0 25px;
	display: flex;
	gap: 15px;
	flex-direction: column;
	color: white;
}

.container1 h4{
	font-size: 30px;
}
.container2{
		font-weight: 600;
}
.box{
	display: flex;
	width: 100%;
	gap: 50px;
	justify-content: space-between;
	padding: 10px;
	border-radius: 7px;
}

.wrap2{
	display: flex;
	flex-direction: column;
	gap: 10px;
	
}
.box p{
	flex-grow: 0;
}
.detial{
	display: flex;
	gap: 10px;
}
button{
	padding: 15px 0;
	border-radius: 50px;
	border: none;
	font-weight: 500;
	background-color: hsl(224, 30%, 27%);
	color: #fff;
	cursor: pointer;
}

button:hover{
	background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}

p{
	font-size: 18px;
}
.box p em{
	color: #9b9b9b;
}


@media screen and (max-width: 375px) {
	.wrapper{
display: grid;
grid-template-columns: 100%;
height: 100%;
}
body{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
height: 50vh;
}
.container1{
	padding-top: 300px;
}
	.container2,.container1{
		padding: 15px;
	}


}
























@font-face {
	font-family: font1;
	src: url(/assets/fonts/static/HankenGrotesk-Medium.ttf);
}
@font-face {
	font-family: font2;
	src: url(/assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
}
@font-face {
	font-family: font3;
	src: url(/assets/fonts/static/HankenGrotesk-Bold.ttf);
}
@font-face {
	font-family: font4;
	src: url(/assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}